---
import { getI18N } from "../i18n/"
const { currentLocale = 'es' } = Astro
const i18n = getI18N({currentLocale});
---



<section class="sm:order-2 sm:text-center text-balance">
    <div>
        <p>
          {i18n.ABOUT_ME_TEXT1}
        </p>
        
        <p>
            {i18n.ABOUT_ME_TEXT2} 
        </p>
        
        <p>
            {i18n.ABOUT_ME_TEXT3}
        </p>
    </div>
</section>
