---
import { getI18N } from "../i18n/";
const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale });
---

<section
  class="sm:order-1 sm:text-center text-balance flex flex-row gap-y-4 sm:gap-y-0 sm:gap-x-4 items-center"
>
  <img
    src="public/img/fotoPerfilLinkedin.jpg"
    alt="Foto de Rodrigo Ameri"
    class="rounded-full shadow-2xl hover:shadow-white/90 770px:block hidden md:size-60 order-1"
  />
  <div>
    <p>
      {i18n.ABOUT_ME_TEXT1}
    </p>

    <p>
      {i18n.ABOUT_ME_TEXT2}
    </p>

    <p>
      {i18n.ABOUT_ME_TEXT3}
    </p>
  </div>
</section>
