<section class="sm:order-2 sm:text-center">
    <div>
        <p>
            Soy Rodrigo, tengo 26 años y actualmente estudio Desarrollo de aplicaciones web en Master D Valencia. Disfruto mucho programando, aprendiendo y creando experiencias
            web para los usuarios.
        </p>
        
        <p>
            Entre mis éxitos, puedo destacar que he sido capaz de aprender a programar en poco tiempo,
            que continuo además con masters y formación autodidacta complementaria. 
        </p>
        
        <p>
            Me considero una persona muy responsable, con capacidad de trabajo en equipo, con facilidad para
            aprender y adaptarme a nuevos desafíos.
        </p>
    </div>
</section>
