---
import { getI18N } from "../i18n/";
const { currentLocale = "es" } = Astro;
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "2024",
    title: "Landing Page Ameris Brewhouse ",
    description: "{I18n.PROJECT1}",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
