---
import { getI18N } from "../i18n/";
const { currentLocale = "es" } = Astro;
import ExperienceItem from "./ExperienceItem.astro";
const i18n = getI18N({ currentLocale });
const EXPERIENCE = [
  {
    title: i18n.EXPERIENCE_TITLE,
    description: i18n.EXPERIENCE_DESCRIPTION,
    date: i18n.EXPERIENCE_DATE,
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
