<footer class="mt-44 m-4 w-full xl:w-[1120px] mx-auto">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a
        href="https://www.linkedin.com/in/rodrigo-ameri-5523911ab/"
        target="_blank"
        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
      >
        <img
          src="/img/fotoPerfilLinkedin.jpg"
          class="h-8 rounded-full"
          alt="Rodrigo ameri foto"
        />
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap text-yellow-200/90"
          >Rodrigo Ameri</span
        >
      </a>
      <ul
        class="flex flex-wrap items-center text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
      >
        <li>
          <a href="#home" class="transform hover:scale-110 me-4 md:me-6"
            >Inicio</a
          >
        </li>
        <li>
          <a href="#about" class="transform hover:scale-120 me-4 md:me-6"
            >Sobre Mí</a
          >
        </li>
        <li>
          <a href="#projects" class="transform hover:scale-110 me-4 md:me-6"
            >Proyectos</a
          >
        </li>
        <li>
          <a href="#contact" class="transform hover:scale-110 me-4 md:me-6"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
    <hr class="my-2 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-4" />
    <span
      class="block text-sm text-gray-500 sm:text-center dark:text-blue-200/90"
      >© 2024 <a
        href="https://www.linkedin.com/in/rodrigo-ameri-5523911ab/"
        target="_blank"
        class="hover:underline">Rodrigo Ameri</a
      >. Todos los Derechos Reservados.</span
    >
  </div>
</footer>
