<header id="home"  class="flex flex-row justify-center items-center py-5 w-full xl:w-[1280px] mx-auto">
    <nav class="flex flex-row gap-x-5 opacity-80 flex-wrap text-sm md:text-lg">
        <a class="transform hover:scale-110" href=/#home>Inicio</a>
        <a class="transform hover:scale-110" href=/#about>Sobre Mí</a>
        <a class="transform hover:scale-110" href=/#projects>Proyectos</a>
        <a class="transform hover:scale-110" href=/#contact">Contacto</a>
    </nav>
</header>

