
<a class="rounded-full border border-white/10 
        flex justify-items-center items-center py-1 px-2
        gap-x-2 md:py-1 lg:px-2 hover:bg-white/10
        text-xs lg:text-base
         hover:border-white/20 hover:scale-110 transition-all 
         duration-300  ease-in-out" 
    {...Astro.props}
    target="_blank" rel="noopener"
><slot />

</a>
