---
import Rain from "../components/Rain.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="px-8">
    <!-- <div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(150%_150%_at_50%_10%,#000_30%,#63f_100%)]">
      </div> -->
    <Header />
    <Rain />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color: white;
  }
  html {
    font-family: "libre baskerville", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to top, #531807 5%, #1a0101 100%);
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: smooth;
    }
  }

  p {
    line-height: 1.5;
    margin: 10px 0;
  }
</style>
